.box{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 10px;
    float: left;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 10px;

}

.main-box{
    float: right;
}


@media screen and (max-width: 700px) {
    
    .box{
        background-color: blue;
        width: 200px;
    }

}